@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.logo h2 {
  font-family: 'Lobster Two', cursive;
}

/* SHOWCASE */

.showcase {
  background: url(./assets/showcase4.jpg) no-repeat center;
}

.showcase .overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

/* ABOUT */

.about {
  height: 100vh;
  background: url(./assets/showcase4.jpg) no-repeat center;
}

.about .overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}